h2 {
  text-transform: none !important;
}

pre {
  margin: 0 !important;
  box-shadow: none !important;
  font-size: 0.50em !important;
  line-height: 1em !important;
}

code {
  padding: 2px 15px 15px 15px !important;
}

p.help-desc {
  font-size: 0.55em !important;
}
